body {
    background-color: black;
    
}
p{
    font-size: 20px;
    color: white;
    

}

h1{
  color: goldenrod;
   font-size: 100px; 
   background-color: white;
  border-style: solid ;
   border-color: yellow;
   border-width: 3px;
   border-radius: 10px;
   
}
 h2.q {
    color: goldenrod;
    text-decoration-line: underline; 
    text-decoration-thickness: 2px;
    font-size: 50px;
}

h3{
    font-size: 20px;
  color: black;  
  font-weight: bolder;
}

a:link {
    color: yellow;
  }

  a:visited{
    color: yellow;
  }
  
  a:hover {
    text-decoration: none;
    color: pink;
  }

  div#all {
	display: grid;                      
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-auto-rows: minmax(100px, auto);
   
	grid-gap: 50px;                     

    
   
} 


div#all > div {
	padding: 5px;
	background: linear-gradient(yellow, black);
}

h2.mid {
   /* margin-top: 200px; */
    font-size: 50px;
    background-color: white;
    color: goldenrod;
}



.setsumei {
  font-size: x-large;
}



.box{
  
  border-radius: 1px;
  border-color: white;
  
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  
}
