p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
}
img.sign {
    float: right;   /* 画像を右に浮かせる */

    width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}




h2 {
	background: linear-gradient(white, #ffefaf);
}

div#zentai {
	display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 1fr ; /* 3列にする．幅は 1:2:2 の比率*/
    grid-auto-rows: 200px 200px;        /* 高さは 100px */
   
	grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

   /* width: 500px; */
   margin-right: 30px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}

h2{
	font-family: cursive  ;
	color: #3f3faf;
	
}
